<nav style="opacity:.9" class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container">
        <a style="color:black" class="navbar-brand" href="/">Novelette</a>  
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a style="color:black" class="nav-link" href="/home">Home </a>
          </li>
          <li class="nav-item">
            <a style="color:black" class="nav-link" href="/about">About</a>
          </li>
          {{#if user}}          
            <li class="nav-item">
                <a style="color:black" class="nav-link" href="/stories/add">Add Story</a>
            </li>
            <li class="nav-item">
                <a style="color:black" class="nav-link" href="/stories">Your Stories</a>
            </li>
          {{/if}}
        </ul>

        <ul class="navbar-nav ml-auto">
          {{#if user}}
            <li class="nav-item">
              <a style="color:black" class="nav-link" href="/users/logout">Hi {{user.name}} .. ! </a>
            </li>

            <li class="nav-item">
              <a style="color:black" class="nav-link" href="/users/logout">Logout</a>
            </li>
            
          {{else}}
          <li class="nav-item">
            <a style="color:black" class="nav-link" href="/users/login">Login</a>
          </li>
          <li class="nav-item">
            <a style="color:black" class="nav-link" href="/users/register">Register</a>
          </li>
          {{/if}}
        </ul>
      </div>
    </div>    
  </nav>