<h2 style="color:aliceblue"class="display-3">About</h2>
<p style="color:aliceblue" class="lead">This is a Node/Express app for jotting down Short Stories or Write-Ups</p>
<p style="color:aliceblue" class="text-muted">Version 1.0.0</p>