<h2 style="color:cornflowerblue"class="display-3">About</h2>
<p style="color:lightblue" class="lead">This is a Node/Express app for jotting down Short Stories or Write-Ups</p>
<p style="color:black" class="text-muted">Version 1.0.0</p>