<div class="container1">
  <div class="info">
    <h1 align="center" class="lead">Login</h1>
</div>
<div class="form">
  <div class="thumbnail"><img src="/img/man.svg"/></div>
  <form action="/users/login" method="POST" class="login-form">
    <input type="email" name="email" placeholder="username" value="{{name}}" required/>
    <input type="password" name="password" placeholder="password" required/>
    <button type="submit">login</button>
  </form>
</div>
</div>