<div style="opacity:.9" class="container1">
  <div class="info">
    <h1 align="center" style="color:black" class="lead">Register</h1>
  </div>
  <div id="register" class="form">
    <div class="thumbnail"><img src="/img/add-user.svg"/></div>
    <form action="/users/register" method="POST" class="login-form">
      <input id="name" type="text" name="username" placeholder="name" value="{{name}}" required/>
      <input id="email" type="email" name="email" placeholder="username@email.com" value="{{email}}" required/>
      <input id="pass" type="password" name="password1" placeholder="password" required/>
      <input id="confpass" type="password" name="password2" placeholder="confirm password" required/>
      <button onclick="register()" type="submit">register</button>
    </form>
  </div>
  <div style="display:none;" class="loader-wrapper" id="loader-6">
          <div id="loader"></div>
  </div>
</div>

<script>
  function register() {
    var name = document.getElementById('name');
    var email = document.getElementById('email');
    var pass = document.getElementById('pass');
    var confpass = document.getElementById('confpass');
    if(name.value !== '' && email.value !== '' && pass.value !== '' && confpass !== ''){
      document.getElementById('loader-6').style.display = 'block';
      document.getElementById('register').style.display = 'none';
    }
  }
</script>